* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #8ebde7, #17585c);
  transition: 0.5s;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.weather-card {
  width: 350px;
  background: rgba(52, 23, 23, 0.15);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 20px;
  color: white;
  text-align: center;
  box-shadow: 0 8px 32px rgba(0,0,0,0.2);
}

.weather-card h1 {
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  gap: 10px;
}

.search-box input {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 10px;
  outline: none;
}

.search-box button {
  padding: 12px 16px;
  border: none;
  border-radius: 10px;
  background: white;
  color: #333;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.search-box button:hover {
  background: #f1f1f1;
}

.weather-info {
  margin-top: 25px;
}

.weather-info img {
  width: 100px;
}

#temperature {
  font-size: 40px;
  font-weight: bold;
  margin: 10px 0;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.details div {
  background: rgba(255,255,255,0.15);
  padding: 15px;
  border-radius: 12px;
  width: 45%;
}

.error-message {
  margin-top: 20px;
  color: #ffdddd;
}

.hidden {
  display: none;
}